<div style="display: inline-block;">
		<%= form_for :activity, url: activity_path(activity.id), html: { :remote => true, :method => :delete } do |f| %>
		<%= f.submit "DELETE", { :class => "btn btn-danger" } %>
		<% end %>
	</div>