<% top_offset = 0 %>
<% Day.hours.each do |hour| %>
	<div class="qh_block qh_00" style="width:100%; top: <%= top_offset %>px;">
		&nbsp;
	</div>
	<% top_offset = top_offset + 25 %>
	<div class="qh_block qh_15" style="width:100%; top: <%= top_offset %>px;">
		&nbsp;
	</div>
	<% top_offset = top_offset + 25 %>
	<div class="qh_block qh_30" style="width:100%; top: <%= top_offset %>px;">
		&nbsp;
	</div>
	<% top_offset = top_offset + 25 %>
	<div class="qh_block qh_45" style="width:147px; top: <%= top_offset %>px;">
		&nbsp;
	</div>
	<% top_offset = top_offset + 25 %>
<% end %>