<% top_offset = 0 %>
<% Day.hours.each do |hour| %>
	<% minute = 0 %>
	<% while minute < 60 %>
		<div class="block bg_block bg_block_<%= sprintf('%02d',minute.to_s) %>" style="top: <%= top_offset %>px;">
			&nbsp;
		</div>
		<% minute = minute + 5 %>
		<% top_offset = top_offset + 25 %>
	<% end %>
<% end %>