<div class="tab-content" id="content">
	<%= render partial: 'calendar/calendar_tab/calendar_tab' %>
	<%= render partial: 'calendar/todo_tab/todo_tab' %>
	<%= render partial: 'calendar/activity_tab/activity_tab' %>
	<div>
		<%= debug(@result.data) if Rails.env.development? %>
	</div>
</div>