<div class="tab-pane fade in active" id="calendar_tab">
	<div class="row">
		<%= render partial: 'calendar/calendar_tab/list_pane' %>
		<%= render partial: 'calendar/calendar_tab/calendar_pane' %>
		<%= render partial: 'calendar/calendar_tab/quick_form_pane' %>
	</div>
</div>