<div id="list_pane" class="col-lg-2">
	<div class="panel-group" id="todo_accordion">
		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#todo_accordion" href="#collapseToDos">
				<div class="panel-heading">
					<h4 class="panel-title">
						<span class='glyphicon glyphicon-chevron-down'></span> To-Do List<span id="todo_count_badge" class="badge pull-right"><%= current_user.todos.size %></span>
					</h4>
				</div>
			</a>
			<div id="collapseToDos" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="todo_container">
						<% current_user.todos.each do |todo| %>
						<%= render partial: 'todos/todo', locals: {todo: todo} %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-group" id="activity_accordion">
		<div class="panel panel-default">
			<a data-toggle="collapse" data-parent="#activity_accordion" href="#collapseActivities">
				<div class="panel-heading">
					<h4 class="panel-title">
						<span class='glyphicon glyphicon-chevron-down'></span> Activity List<span id="activity_count_badge" class="badge pull-right"><%= current_user.activities.size %></span>
					</h4>
				</div>
			</a>
			<div id="collapseActivities" class="panel-collapse collapse in">
				<div class="panel-body">
					<div id="activity_container">
						<% current_user.activities.each do |activity| %>
						<%= render partial: 'activities/activity', locals: {activity: activity} %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>