<div id="quick-form_pane" class="col-lg-4">
	<h2>Add To-Do</h2>
	<%= render 'todos/todo_form' %>
	<br />
	<h2>Add Activity</h2>
	<%= render 'activities/activity_form' %>
	<br />
	<h2>Add Custom Event</h2>
	<%= render 'events/event_form' %>
</div>