.bg_block {
	width: $event_plane_width;
}

.bg_block_00 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_05 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_10 {
	border-bottom: 1px solid #c8c8c8;
}

.bg_block_15 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_20 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_25 {
	border-bottom: 1px solid #a7a7a7;
}

.bg_block_30 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_35 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_40 {
	border-bottom: 1px solid #c8c8c8;
}

.bg_block_45 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_50 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_55 {
	border-bottom: 2px solid #9b9b9b;
}
