// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow: $top $left $blur $color #{$inset};
  	-moz-box-shadow: $top $left $blur $color #{$inset};
  	box-shadow: $top $left $blur $color #{$inset};
}

$calendar_width: 200px;
$time_index_width: 50px;
$event_plane_width: $calendar_width - $time_index_width - 3px;

$qh_block_height: 25px;


#calendar_container {
	a {
		color: #0000FF;
	}
}

#calendar {
	width: $calendar_width;
	@include box-shadow(0,2px,2px,-2px,#cccccc);
  border: 1px solid #cdcdcd;
  @include border-radius(5px);
	margin-left: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 850px;
}

#day_title_box {
	font-weight: bolder;
	text-align: center;
	padding:5px 0;
	border-bottom: 1px solid #e1e1e1;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea);
}

#calendar_table {
	background-color: #FFFFFF;
}

.qh_block {
	height: $qh_block_height;
}

.interval_block {
	width: $time_index_width;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	padding: 5px 5px 5px 5px;
}

.calendar_event {
	position:absolute;
	width: 70px;
	background-color: #729BB9;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	-ms-border-radius: 4px;
  	-o-border-radius: 4px;
  	border-radius: 4px;
}

#event_container {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.qh_00 {
	border-bottom: 1px dotted #e1e1e1;
}

.qh_15 {
	border-bottom: 1px solid #c8c8c8;
}

.qh_30 {
	border-bottom: 1px dotted #e1e1e1;
}

.qh_45 {
	border-bottom: 1px solid #aeaeae;
}
