@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow: $top $left $blur $color #{$inset};
  	-moz-box-shadow: $top $left $blur $color #{$inset};
  	box-shadow: $top $left $blur $color #{$inset};
}

$calendar_width: 200px;
$time_index_width: 50px;
$event_plane_width: $calendar_width - $time_index_width - 3px;

$qh_block_height: 25px;
$block_height: 25px;

#calendar_container {
	a {
		color: #0000FF;
	}
}

#calendar {
	width: $calendar_width;
	@include box-shadow(0,2px,2px,-2px,#cccccc);
  border: 1px solid #cdcdcd;
  @include border-radius(5px);
	margin-left: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 850px;
}

#day_title_box {
	font-weight: bolder;
	text-align: center;
	padding:5px 0;
	border-bottom: 1px solid #e1e1e1;
	@include background(linear-gradient(#fdfdfd, #eaeaea)top left repeat);

}

#calendar_table {
	background-color: #FFFFFF;
}

.qh_block {
	height: $qh_block_height;
}

.block {
	height: $block_height;
}

.interval_block {
	width: $time_index_width;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	padding: 5px 2px 5px 5px;
	text-align: right;
	/* line height is acting like the top margin. Used to place text at top of div */
	line-height: 2px;
}

.calendar_event {
	position:absolute;
	width: 100px;
	background-color: #729BB9;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	-ms-border-radius: 4px;
  	-o-border-radius: 4px;
  	border-radius: 4px;
}

#event_container {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.bg_block {
	width: 147px;
}

.bg_block_00 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_05 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_10 {
	border-bottom: 1px solid #c8c8c8;
}

.bg_block_15 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_20 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_25 {
	border-bottom: 1px solid #a7a7a7;
}

.bg_block_30 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_35 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_40 {
	border-bottom: 1px solid #c8c8c8;
}

.bg_block_45 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_50 {
	border-bottom: 1px dotted #e1e1e1;
}

.bg_block_55 {
	border-bottom: 2px solid #9b9b9b;
}